.primary-text-color {
    color: #495057 !important;
}
.secondary-text-color {
    color: #7269ef !important;
}
.action-text-color {
    color: #7a7f9a !important;
}
.primary-bg-color {
    background-color: #f5f7fb;
}
.text-bg-color {
    background-color: #f7f7ff;
}
.tooltip {
    position: absolute;
    font-size: 12px;
    padding: 8px;
    color: #fff !important;
    background-color: #333 !important;
    white-space: nowrap;
    display: none;
}
.placement-top {
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}
.placement-right {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}
.chatvia-link {
    text-decoration: none;
}
.chatvia-unScrollBar::-webkit-scrollbar {
    display: none;
}
.chatvia-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.chatvia-navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 75px;
    padding: 20px 0;
    box-shadow: 0 0 3px 0.1px #ccc;
    background-color: #fff;
}
.chatvia-navBar-infor {
    width: 380px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    overflow: hidden;
}
.chatvia-navBar-currentTab {
    background-color: #f5f7fb !important;
    & svg {
        color: #7269ef !important;
    }
}
//
.chatvia-chatBox-content {
    padding: 20px;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
}
.message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    .message-info {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 6px;
    }
    .message-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 60%;
        border-radius: 20px;
        overflow: hidden;
    }
    .message-content .row {
        max-width: 85%;
        position: relative;
        border-radius: 8px 18px 18px 8px;
        padding: 8px 12px;
        background-color: #f1f1f1;
        color: #495057;
    }
    .message-content .row:not(:last-child) {
        margin-bottom: 2px;
    }
    .message-content .row p:hover .message-time {
        display: inline-block;
    }
    .message-time {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(100%, -50%);
        font-size: 12px;
        padding: 8px 12px;
        border-radius: 8px;
        color: #f5f5f5;
        background-color: #495057;
        white-space: nowrap;
        display: none;
    }
    .message-option:hover {
        opacity: 1;
    }
    .message-option {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(100%, -50%);
        font-size: 20px;
        padding: 8px 12px;
        border-radius: 8px;
        cursor: pointer;
        opacity: 0;
    }
}
.message.owner {
    justify-content: flex-end;
    .message-info {
        display: none;
    }
    .message-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .message-content .row {
        border-radius: 18px 8px 8px 18px;
        background-color: #7269ef;
        color: #f1f1f1;
    }
    .message-option,
    .message-time {
        left: 0;
        right: unset;
        transform: translate(-100%, -50%);
    }
}
.conversations {
    flex-direction: column;
    overflow-y: scroll;
    flex-grow: 1;
    margin-top: 12px;
}
